/* Ook eigen css: Import Poppins font, 400 & 600 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

.recipe-card {
    /* "auto" aan de zijkanten zorgt ervoor dat het element in het midden komt te staan*/
    margin: 80px auto;
    /* Dit element heeft een vaste breedte van 350 pixels */
    width: 350px;
    /* Added */
    border: #d3d3d3 solid 1px;
    border-radius: 8px;
    box-shadow: 2px 8px 8px 0 rgba(0, 0, 0, 0.10);
    overflow: hidden;

}

.main-image {
    width: 100%;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.detail-assets {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
/* Kleuren in gebruik: lichtgrijs: #F7F7F7 & donkergrijs: #d3d3d3 */

