/* Ook eigen css: Import Poppins font, 400 & 600 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.recipe-card {
    box-sizing: border-box;
    /* "auto" aan de zijkanten zorgt ervoor dat het element in het midden komt te staan*/
    margin: 80px auto;
    /* Dit element heeft een vaste breedte van 350 pixels */
    width: 350px;
    /* Added */
    border: #d3d3d3 solid 2px;
    border-radius: 8px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);

}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
}
/* Kleuren in gebruik: lichtgrijs: #F7F7F7 & donkergrijs: #d3d3d3 */

