@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* CSS Reset */
* {
    box-sizing: border-box;
}

/* Colors used:
Oranje: #DE6127
Lichtgrijs: #e8e8e8
Donkergrijs: #737373

Kleuren voor de bolletjes:
#faa0c7
#272729
#928471
#c2c2b4

 */
.product {
    /* "auto" aan de zijkanten zorgt ervoor dat het element in het midden komt te staan*/
    margin: 80px auto;
    /* Dit element heeft een vaste breedte van 350 pixels */
    width: 350px;
}



.main-image {
    width: 100%;
}

.new-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #DE6127;
    transform: rotate(-90deg);
    position: absolute;
    top: 40px;
    left: -70px;
    background-color: #e8e8e8;
    width: 90px;
    height: 50px;
    padding: 10px 20px;
    text-align: center;
}

.surrounding-details {
    position: relative;
}

.icon-favorite {
    width: 24px;
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.conscious-choice {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #737373;
    font-size: 1rem;
}

.product-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
}

.product-price {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}